<h1>GeoPattern</h1>

<form action="/result" method="post">
  <label for="seed">Seed: </label>
  <input type="text" name="seed" />
  <br>
  <label for="base">Base color: </label>
  <input type="text" name="base" />
  <br>
  <input type="submit" value="Go!" />
</form>
