<h3>SVG</h3>
<div style="background-image: url(<%= path_to_svg %>); width=300px; height: 300px;"></div>

<h3>Data URI</h3>
<div style="background-image: <%= image %>; width=300px; height: 300px;"></div>
